@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{font-family: 'Roboto', sans-serif;font-weight: 400;}
header{width: 1280px;display: flex;flex-direction: column;margin: 0 auto;}
header a{color: #000000;font-weight: 400;font-size: 80px;text-decoration: none;}
header>span {margin-bottom: 40px;}
.colortext{color: #4BCAFF;}
.menuHeader{width: 1280px;background: #35444F;display: inline-flex;justify-content: center;list-style: none;}
.menuHeader a{color: #FFFFFF;text-decoration: none;padding: 22px;font-size: 26px;border-left: 0.5px solid #FFFFFF;cursor: pointer;}
.menuHeader a:last-child{border-right: 0.5px solid #FFFFFF;}
.menuHeader a:hover{background: #222F3A;}
main{width: 1280px;display: flex;justify-content: space-between;padding-top: 50px;padding-bottom: 20px;margin: 0 auto;}
.navMain{width: 342px;display: flex;flex-direction:column;list-style: none;border: 0.5px solid #495863;font-size: 27px; }
.navMainLink{padding: 20px;text-decoration: none;color: #485863;}
.navMainLink:hover{background: #DBDBDB;color: #000000;padding-left: 54px;transition: all 0.8s ease 0s;}
.content{width: 885px;}
.contentFoto{width:100%;height:529px;display:flex;justify-content:center;align-items:center;border:0.8px solid #495863;}
.containerFoto{width:320px;height:381px;}
.containerFoto img{width:95%;}
.containerFoto:hover{width: 400px;height:auto;transition: all 0.9s ease 0s;}
.contentText{width:100%;margin-top:37px;}
.contentText p{font-size:18px;color:#2C2C2C;padding-bottom:34px;}
footer{width: 1280px;display: flex;justify-content: space-between;align-items:center;background:rgba(99, 105, 110, 0.48);margin:0 auto;}
.menuFooter{display:inline-flex;list-style:none;font-size:28px;padding-left:20px;margin-bottom:7px;}
.menuFooterLink{text-decoration:none;padding:17px 0;margin-right: 30px; color:#0C1927;}
.menuFooterLink:hover{color:#3181A6;border-bottom:1px solid #3181A6;cursor:default;}
.copyright{font-size:24px;color:#010101;margin-right:40px;}